body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.card{
    width: 30vw;
    height: auto;
    background-color: transparent;
    color: hsl(0, 20%, 98%);
    text-align: center;
    position: relative;
    justify-self: center;
}
.card h1{
    font-size: 2rem;
    font-style: italic;
    color: white;
    font-weight: 900;
    text-shadow: 0 3px 0 #120122;
    text-transform: capitalize;
}
.card button{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 900;
    color: hsl(0, 1%, 76%);
    background-color:#606060;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0 3px 0 #120122;
    cursor: pointer;
    margin-top: 20px;
}
.card button:hover{
    background-color: white;
    color: #120122;
    border: 2px solid transparent;
    transition: all 0.3s ease-in;
}
.card a{
    text-decoration: none;
    color: hsl(0, 13%, 95%);
}
.card a:hover{
    color: #120122;
    transition: all 0.3s ease;
}
.card p{
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    color: #050505;
}