body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.background {
    position: relative;
    background-image:url('./image/5.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #0e0d0d;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    opacity: 1;
    text-align: center;
    z-index: -1;
}
.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.log {
    font-size: 10px;
    font-weight: bold;
    padding:5px;
    background-color: #fff;
    display: inline-block;
    color: #333;
    border-radius: 60px;
    border: 3px solid #094848;
    box-shadow: 0 4px 8px #f2eded33;
}
.header h1{
    margin: 0;
    font-size: 24px;
    font-weight: 900;
    text-shadow: 0 3px 0 #FFD700, 0 6px 0 #FFA500, 0 9px 0 #FF0000;
}
.logo a {
    color: hsl(0, 0%, 4%);
    text-decoration: none;
}
.logo a:hover {
    color: #FFD700;
}
.header p {
    margin: 10px 0 0;
    font-size: 20px;
    color: #fff;
}
.header h3 {
    margin: 10px 0 0;
    font-size: 30px;
    color: #fff;
    opacity: 0.5;
    text-shadow: 0 3px 0 #FFD700, 0 6px 0 #FFA500, 0 9px 0 #FF0000;
}
.navbar {
    background-color: #555;
    position: relative;
    justify-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.nav-links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    justify-items: end;
    padding: 5px 10px;
    position: relative;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.nav-links a:hover {
    background-color: #fff;
    color: #555;
}
.log{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    background-color: #333;
    border-radius: 5px;
    cursor: help;
    border: #ecf2f2 solid 3px;
    }
.log:hover {
    background-color: #fff; 
    color: #333;
}
.cv{
    padding: 20px;
    background-color: #ecf2f2;
}
.cv h2{
    color: #ab9204;
    font-size: 20px;
    font-weight: 800;
    text-decoration: underline;
}
.cv p{
    font-size: 18px;
    font-style: italic;
    font: bold;
}
.cv h3{
    color: #0d34f8;
    text-decoration: underline;
    font-weight: 900;
    text-transform: capitalize;
}
.cv ol{
    list-style:none;
    padding: 20px;
    border-color: #0d34f8;
    background-color:white;
    border: 1px solid purple;
    border-radius: 5px;
}

.cv ul{
    list-style:none;
    padding: 20px;
    border-color: #0d34f8;
    background-color:white;
    border: 1px solid purple;
    border-radius: 5px;
}
.image{
    padding: 20px;
    background-color: white;
}
.image h2{
    color: #ab9204;
    font-size: 20px;
    text-decoration: underline;
}
.image p{
    font: bold;
    font-weight: 500;
}
.image h3{
    color: #0d34f8;
    text-decoration: underline;
}
.image ul{
    list-style: none;
    padding: 20px;
    background-color: #ecf2f2;
    border: 1px solid #555;
    border-radius: 5px;
}
.form{
    background-color: whitesmoke;
    padding: 20px;
    border: none;
    border-radius: 5px;
}
.form label{
    font-size: 20px;
    font-weight: 700;
    color: #099009;
}
.form input{
    padding: 10px;
    width: 70vw;
    cursor: pointer;
}
.form textarea{
    padding: 5px;
    width: 70vw;
    cursor: pointer;
}
.form select{
    padding: 10px;
    width: 70vw;
    cursor: pointer;
}
.form button{
    color: white;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    background: linear-gradient(125deg,#094848,#099009,#555);
}
.form button:hover{
    transition: all ease-in 0.3s;
    background: linear-gradient(135deg,#0e0d0d,#333,#555);
    color: white;
    transform: translateX(-2px);
}
.form input:hover{
    transition:all ease 0.3s;
    cursor: pointer;
    border-color: #0d34f8;
}
.form textarea:hover{
     transition:all ease 0.3s;
    cursor: pointer;
    border-color: #0d34f8;
}
.form select:hover{
     transition:all ease 0.3s;
    cursor: pointer;
    border-color: #0d34f8;
}
.path{
    padding: 20px;
    background: linear-gradient(134deg,#7885c9,#ecf2f2);
}
.path h2{
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 0 2px 0 black;
}
.path p{
    font-size: 18px;
    color: white;
    opacity: 0.7;
    padding: 5px 10px;
}
.path h3{
    color: #3c06de;
    text-decoration: underline;
    font-style: italic;
}
.path ol{
    list-style: none;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius:0 5px 5px 0;
    border-left: 2px solid #0d34f8;
}
.path strong{
    color: #0d34f8;
    text-decoration: underline;
}
.path ul{
    color: black;
    list-style: none;
}
.path1{
    padding: 20px;
    background-color: #ecf2f2;
}
.path1 h3{
    color: #0d34f8;
    text-decoration: underline;
}
.path1 ul{
    padding: 20px;
    background-color: #555;
    color: white;
    border-left:1px solid cyan;
    border-radius: 0 5px 5px 0;
}
.manage h2{
    color: #0d34f8;
    margin-left: 20px;
}
.manage h3{
    color: #099009;
    margin-left: 20px;
}
.manage p{
    margin-left: 20px;
}
.learn{
    padding: 100px 20px;
    background-color: #ecf2f2;
}
.learn h2{
    color: #0d34f8;
    text-align: center;
    font-size: 20px;
}
.learn p{
    color: #0a0a0a;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}
.learn h3{
    color: #099009;
    text-align: center;
}

.card0 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: space-between;
}
@media (max-width: 600px) {
    .card0 {
        grid-template-columns: 1fr;
        justify-self: center;
    }
}
@media(max-width:600px){
    .card0{
        width: 90vw;
        background-color: #1bbdf7;
    }
    .card{
        max-width: max-content;
        justify-self: center;
        position: relative;
        height: auto;
        width: 80vw;
    }
}
.card{
    position: relative;
    cursor: text;
    width: 20vw;
    height: auto;
    background-color:#f4f4f4;
    border-radius: 5px;
    border: 1px solid blue;
}
.card img{
    position: relative;
    width: 20vw;
    height: 30vh;
}
.card h4{ 
    text-align: center;
    color: #fbfbfc;
    background-color: #555;
    font-size: 20px;
}
.card:hover{
    transition: all ease 0.3s;
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: 0 0 20px black;
}
.card button{
    border: none;
    cursor: pointer;
    transform: translateY(-2px);
    margin-left: 30px;
    font-size: 20px;
    bottom: 10px;
    color: white;
    border-radius: 5px;
    font-weight:100;
    padding: 10px 10px;
    background: linear-gradient(125deg,#0d34f8,#7885c9,#333);
}
.card1{
    position: relative;
    cursor: text;
    width: 20vw;
    height: auto;
    background-color:#f4f4f4;
    border-radius: 5px;
    border: 1px solid blue;
}
.card1 h4{ 
    text-align: center;
    color: #fbfbfc;
    background-color: #555;
    font-size: 20px;
}
.card1 img{
    position: relative;
    width: 20vw;
    height: 30vh;
}
.card1:hover{
    transition: all ease 0.3s;
    transform: translateY(-5px);
    cursor: pointer;
      box-shadow: 0 0 20px black;
}
.card1 button{
    border: none;
    cursor: pointer;
    transform: translateY(-2px);
    margin-left: 30px;
    font-size: 20px;
    bottom: 10px;
    color: white;
    border-radius: 5px;
    font-weight:100;
    padding: 10px 10px;
    background: linear-gradient(125deg,#0d34f8,#7885c9,#333);
}
.card2{
    position: relative;
    cursor: text;
    width: 20vw;
    height: auto;
    background-color:#f4f4f4;
    border-radius: 5px;
    border: 1px solid blue;
}
.card2 img{
    position: relative;
    width: 20vw;
    height: 30vh;
}
.card2 h4{ 
    text-align: center;
    color: #fbfbfc;
    background-color: #555;
    font-size: 20px;
}
.card2:hover{
    transition: all ease 0.3s;
    transform: translateY(-5px);
    cursor: pointer;
      box-shadow: 0 0 20px black;
}
.card2 button{
    border: none;
    cursor: pointer;
    transform: translateY(-2px);
    margin-left: 30px;
    font-size: 20px;
    bottom: 10px;
    color: white;
    border-radius: 5px;
    font-weight:100;
    padding: 10px 10px;
    background: linear-gradient(125deg,#0d34f8,#7885c9,#333);
}
.card3{
    position: relative;
    cursor: text;
    width: 20vw;
    height: auto;
    background-color:#f4f4f4;
    border-radius: 5px;
    border: 1px solid blue;
}
.card3 img{
    position: relative;
    width: 20vw;
    height: 30vh;
}
.card3 h4{ 
    text-align: center;
    color: #fbfbfc;
    background-color: #555;
    font-size: 20px;
}
.card3:hover{
    transition: all ease 0.3s;
    transform: translateY(-5px);
    cursor: pointer;
      box-shadow: 0 0 20px black;
}
.card3 button{
    border: none;
    cursor: pointer;
    transform: translateY(-2px);
    margin-left: 30px;
    font-size: 20px;
    bottom: 10px;
    color: white;
    border-radius: 5px;
    font-weight:100;
    padding: 10px 10px;
    background: linear-gradient(125deg,#0d34f8,#7885c9,#333);
}
.card4{
    position: relative;
    cursor: text;
    width: 20vw;
    height: auto;
    background-color:#f4f4f4;
    border-radius: 5px;
    border: 1px solid blue;
}
.card4 img{
    position: relative;
    width: 20vw;
    height: 30vh;
}
.card4 h4{ 
    text-align: center;
    color: #fbfbfc;
    background-color: #555;
    font-size: 20px;
}
.card4:hover{
    transition: all ease 0.3s;
    transform: translateY(-5px);
    cursor: pointer;
      box-shadow: 0 0 20px black;
}
.card4 button{
    border: none;
    cursor: pointer;
    transform: translateY(-2px);
    margin-left: 30px;
    font-size: 20px;
    bottom: 10px;
    color: white;
    border-radius: 5px;
    font-weight:100;
    padding: 10px 10px;
    background: linear-gradient(125deg,#0d34f8,#7885c9,#333);
}
.card5{
    position: relative;
    cursor: text;
    width: 20vw;
    height: auto;
    background-color:#f4f4f4;
    border-radius: 5px;
    border: 1px solid blue;
}
.card5 img{
    position: relative;
    width: 20vw;
    height: 30vh;
}
.card5 h4{ 
    text-align: center;
    color: #fbfbfc;
    background-color: #555;
    font-size: 20px;
}
.card5:hover{
    transition: all ease 0.3s;
    transform: translateY(-5px);
    cursor: pointer;
      box-shadow: 0 0 20px black;
}
.card5 button{
    border: none;
    cursor: pointer;
    transform: translateY(-2px);
    margin-left: 30px;
    font-size: 20px;
    bottom: 10px;
    color: white;
    border-radius: 5px;
    font-weight:100;
    padding: 10px 10px;
    background: linear-gradient(125deg,#0d34f8,#7885c9,#333);
}
.card6:hover{
    transition: all ease 0.3s;
    transform: translateY(-5px);
    cursor: pointer;
}
.card6{
    position: relative;
    cursor: text;
    width: 20vw;
    height: auto;
    background-color:#f4f4f4;
    border-radius: 5px;
    border: 1px solid blue;
}
.card6 img{
    position: relative;
    width: 20vw;
    height: 30vh;
}
.card6 h4{ 
    text-align: center;
    color: #fbfbfc;
    background-color: #555;
    font-size: 20px;
}
.card6:hover{
    transition: all ease 0.3s;
    transform: translateY(-5px);
    cursor: pointer;
      box-shadow: 0 0 20px black;
}
.card6 button{
    border: none;
    cursor: pointer;
    transform: translateY(-2px);
    margin-left: 30px;
    font-size: 20px;
    bottom: 10px;
    color: white;
    border-radius: 5px;
    font-weight:100;
    padding: 10px 10px;
    background: linear-gradient(125deg,#0d34f8,#7885c9,#333);
}
.card7{
    position: relative;
    cursor: text;
    width: 20vw;
    height: auto;
    background-color:#f4f4f4;
    border-radius: 5px;
    border: 1px solid blue;
}
.card7 img{
    position: relative;
    width: 20vw;
    height: 30vh;
}
.card7 h4{ 
    text-align: center;
    color: #fbfbfc;
    background-color: #555;
    font-size: 20px;
}
.card7:hover{
    transition: all ease 0.3s;
    transform: translateY(-5px);
    cursor: pointer;
      box-shadow: 0 0 20px black;
}
.card7 button{
    border: none;
    cursor: pointer;
    transform: translateY(-2px);
    margin-left: 30px;
    font-size: 20px;
    bottom: 10px;
    color: white;
    border-radius: 5px;
    font-weight:100;
    padding: 10px 10px;
    background: linear-gradient(125deg,#0d34f8,#7885c9,#333);
}
.learn ul{
    padding: 20px;
    background-color: #fbfbfc;
    border-radius: 0 5px 5px 0;
    border-left: 2px solid #0d34f8;
    list-style: none;
}
.learn strong{
    color:#ab9204;
    text-decoration: underline;
    font: bold;
}
.radio{
    padding: 20px;
    background-color: #b5b6b6;
    border-radius: 5px;
}
.radio label{
    color: #099009;
}
.radio input{
    border: 2px solid teal;
    cursor: pointer;
}
.radio button{
    border: none;
    cursor: pointer;
    transform: translateY(-2px);
    margin-left: 30px;
    font-size: 20px;
    bottom: 10px;
    color: white;
    border-radius: 5px;
    font-weight:100;
    padding: 10px 10px;
    background: linear-gradient(125deg,#0d34f8,#7885c9,#333);
}
.footer{
    padding: 20px;
    background: linear-gradient(136deg,#0a0a0a,#0e0d0d,#333);
}

.line {
    width: 80%;
    margin: 20px auto;
    background: linear-gradient(150deg,#2105f6,#094848,#f4f4f4);
    border-top: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 2px 4px #1bbdf7;
}
.line hr {
    border: none;
    border-top: 1px solid #333;
}
.made {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: space-between;
}

@media (max-width: 400px) {
    .made {
        grid-template-columns: 1fr;
    }
}
.btn{
    color: #a7a7a7;
    text-align: center;
}
.btn h3{
    color: #0d34f8;
}
.btn1 h3{
    color: #0d34f8;
}
.menu{
    display: grid;
    flex-wrap: wrap;
    gap: 5px;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    position: relative;
    bottom: 20px;
    color: whitesmoke;
    text-decoration: none;
}
.menu ul li a:hover{
    transition: all ease 0.3s;
    transform: translateY(-2px);
    color: #0d34f8;
}
.btn2{
    text-align: center;
}
.btn2 h3{
    color: #0d34f8;
}
.btn2 button{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
.setting{
    display: grid;
}
.btn3{
    color: #a7a7a7;
}